<mat-card>
    <mat-action-list>
        <div mat-subheader>
            Menu
        </div>
        <div class="mt20">
        <button routerLink = "/admin" mat-list-item>
            <mat-icon matListItemIcon>home</mat-icon>
            <div matListItemTitle>Home</div>
        </button>
        <button mat-list-item routerLink = "/admin/profile">
            <mat-icon matListItemIcon>account_circle</mat-icon>
            <div matListItemTitle>Profile</div>
        </button>
        <button mat-list-item routerLink = "/admin/categories">
            <mat-icon matListItemIcon>list</mat-icon>
            <div matListItemTitle>Categories</div>
        </button>
        <button mat-list-item routerLink = "/admin/add-category">
            <mat-icon matListItemIcon>add_circle_outline</mat-icon>
            <div matListItemTitle>Add Category</div>
        </button>
        <button mat-list-item routerLink = "/admin/quizzes">
            <mat-icon matListItemIcon>quiz</mat-icon>
            <div matListItemTitle>Quiz</div>
        </button>
        <button mat-list-item routerLink = "/admin/add-quiz">
            <mat-icon matListItemIcon>add</mat-icon>
            <div matListItemTitle>Add Quiz</div>
        </button>
        <button mat-list-item>
            <mat-icon matListItemIcon>logout</mat-icon>
            <div matListItemTitle (click)="logoutUser()">Logout</div>
        </button>
        </div>
    </mat-action-list>
</mat-card>


<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->