<h1>Your registered email</h1>

<div>
    
<form (ngSubmit)="forgotPassword()">
    <!-- <small *ngIf = "errorMessage" class="text-danger">
        {{errorMessage.message}}
    </small> -->

    <input type = "email" name = "email" placeholder="Enter email here" id = "email" required [(ngModel)] = "email">
    
    <div *ngIf = "emailSent; else emailNotSent">
        <button type = "submit" disabled>Send OTP</button>
    </div>

    <ng-template #emailNotSent>
        <button type = "submit" >Send OTP</button>
    </ng-template>
    
</form>
</div>